.EduBox {
    font-family: Helvetica;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 20px 40px rgba(0,0,0, 0.15);
    transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
    background: white;
    margin: 20px;
    clear: both;
    width: 40%;
    height: 70%;
    padding: 20px;
}

.EduBox:hover {
    transform: scale(1.01, 1.01);
    box-shadow: 0 30px 60px rgba(0,0,0, 0.5);
}