

.Footer     {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: transparent;
    color: #BBE5D5;
    animation: HeroAnimation 1s 2s forwards cubic-bezier(0.2, 0.8, 0.2, 1);
    opacity: 0;
    display: flex;
    flex-direction: row;
}

.DevCredits{
    text-align: left;
    font-size: small;
    color: black;
}

.SiteCredits    {
    text-align: right;
    font-size: small;
    color: black;
}

@keyframes HeroAnimation {
    0% {
        opacity: 0;
        transform: translateY(-100px)
    }
    100% {
        opacity: 1;
        transform: translateY(0px)
    }
  }
