.Header     {
    font-family: Helvetica;
    position: fixed;
    left: 0;
    top: 0px;
    width: 100%;
    background-color: #1b0e58;
    text-align: center;
    animation: HeroAnimation 1s 2s forwards cubic-bezier(0.2, 0.8, 0.2, 1);
    opacity: 0;
    color: #BBE5D5;
}

.Header a:hover{
    color: #33847C;
}

.Header     {
    display: grid;
    grid-template-columns: 45%   13% 13% 13% 13% 3%;
    grid-template-areas: "logo about projects resume contact .";
}

.Header h2   {
    grid-area: logo;
    text-align: left;
    font-size: large;
    padding-left: 15px;
    color: #BBE5D5;
}

.Header a{
    vertical-align: bottom;
    text-align: center;
    margin-top: 15px;
    color: #BBE5D5
}


@keyframes HeroAnimation {
    0% {
        opacity: 0;
        transform: translateY(-100px)
    }
    100% {
        opacity: 1;
        transform: translateY(0px)
    }
  }
