.Header     {
    font-family: Helvetica;
    position: fixed;
    left: 0;
    top: 0px;
    width: 100%;
    background-color: transparent;
    text-align: center;
}

.Header a:hover{
    color: blue;
}

.Header     {
    display: grid;
    grid-template-columns: 45%   13% 13% 13% 13% 3%;
    grid-template-areas: "logo about projects resume contact .";
}

.Header h2   {
    grid-area: logo;
    text-align: left;
    font-size: large;
    padding-left: 15px;
    color: white;
}

.Header a{
    vertical-align: bottom;
    text-align: center;
    margin-top: 15px;
    color: white
}
