
.ProjectsContent    {
    margin: 100px;
}

.projectsContainer   {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: "work fun";
}

.WorkProjects   {
    grid-area: work;
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 20px;
}

.FunProjects   {
    padding: 20px;
    grid-area: fun;
    display: grid;
    grid-template-columns: 50% 50%;

}
