.WorkContent  {
    margin: 100px;
    font-family: Cairo;
}

.WorkExperience {
    text-align: left;
    display: grid;
    grid-template-columns: 30% 30% 30%;
}

.Title  {
    font-size: 25px;
    padding: 0;
    margin: 0;
    text-align: left;
    padding: 10px;
    font-weight: 700;
}

.EducationBox   {
    padding: 10px;
    background-color: white;
    justify-content: left;
    border: 2px;
    border-style: solid;
    border-color: black;
}


.EducationBox p {
    
    margin: 0;
    padding: 0%;
    text-align: right;
    font-size: 15px;
}

.EducationBox h3 {
 
    margin: 0;
    padding: 0%;
    text-align: left;
    font-size: 20px;
}

.EducationBox h4{

    margin: 0;
    padding: 0%;
    text-align: left;
    font-size: 18px;
}