.WorkBox {
    max-width: 400px;
    max-height: auto;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 20px 40px rgba(0,0,0, 0.15);
    transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
    background: white;
    margin: 20px;
    clear: both;
    padding: 20px;
    font-family: Cairo;
}

.WorkBox:hover {
    transform: scale(1.1, 1.1);
    box-shadow: 0 30px 60px rgba(0,0,0, 0.5);
}

.WorkBox p  {
    font-size: 15px;
    font-weight: 300;
    text-align: left;
    padding: 0;
}

.WorkBox ul  {

    padding: 10px;
}



.WorkInfo {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-areas: "role period"
    "company .";
    justify-content: left;
    align-content: left;
    justify-self: left;
}


.WorkBox h5 {
    grid-area: period;
    margin: 0;
    padding: 0%;
    text-align: right;
    font-size: 15px;
}

.WorkBox h3 {
    grid-area: role;
    margin: 0;
    padding: 0%;
    text-align: left;
    font-size: 20px;
}

.WorkBox h4{
    grid-area: company;
    margin: 0;
    padding: 0%;
    text-align: left;
    font-size: 18px;
}