.Footer {
    display: grid;
    position: fixed;
    width: 100%;
    z-index: 100;
    align-content: center;
    justify-content: center;
    transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1.0);
    grid-template-columns: 20% 40% 40%;
    grid-template-areas: "devCredits . medialinks";
}

.FooterGroup  {
    grid-area: medialinks;
    max-width: 800px;
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(6, auto);
    align-items: center;
    justify-items: center;
}

.FooterNavGroup  {
    max-width: 900px;
    margin: 0 auto;
    font-size: medium;
    font-weight: 300;
    grid-area: devCredits;
}

.Footer a{
    color:black;
    font-weight: 550;
    padding: 10px 10px 10px 10px;
}

.Footer button  {
    padding: 8px 20px;
    font-size: 20px;
    background: #56CCF2;
    border-radius: 20px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.5s;
    animation: HeroAnimation;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);

}