.ResumePage {
    background-color: white;
    height: 80%;
    width: 95%;
    display: inline-grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: auto;
    grid-template-areas: 
        "work education"
        "work education"
        "certification skills"
        "certification skills";
}

.Title{
    grid-area: title;
    background-color: blue;
}

.Work{
    grid-area: work;
    background-color: red;
}

.ResumePage p{
    font-size: small;
}

.Work h3{
    padding: none;
    margin: none;
    text-align: left;
}

.Education{
    grid-area: education;
    background-color: green;
}

.Skills {
    grid-area: skills;
    background-color: yellow;
}

.certification  {
    grid-area: certification;
    background-color: blueviolet;
}

.Tab    {
    background-color: yellow;
}